<div id="safety" class="fixed-ratio">
        <div class = "loading" id="safety-loading">
            <div class="content">
                <h3>Loading Toughness...</h3>
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                    </div>
            </div>
        </div>
         <div class="model-disclaimer">
             <p>Accessorised vehicle shown</p>
         </div>
         <div class="heading heading-right">
             <h1>Advanced Safety and Security</h1>
         </div>
         <div id="safety-bg" class="x-scroll">
             <img class="safety-image" src="/assets/images/hilux_parallax/parallax_3.jpg" />
         </div>
        <div id="safety-mg" class="x-scroll">
             <img class="safety-image" src="/assets/images/hilux_parallax/parallax_2.png" />
         </div>
         <div id="safety-fg" class="x-scroll">
             <img class="safety-image" src="/assets/images/hilux_parallax/parallax_1.png" />
             <div class="safety-feature left" id ="safety-feature-1">
                 <div class ="line" initWidth ="100">
                     <hr class="initial"/>
                 </div>
                 <div class ="popup">
                     <div class ="dropdown-button-container">
                         <a href="javascript:;" class="dropdown-button">REINFORCED FRAME<span class="dropdown-icon"></span></a>
                     </div>
                     <div class ="info">
                         <img src="/assets/images/hilux_parallax/1_frame.jpg" />
                         <p>
                             The Hilux is completed with an all-new frame: reinforced to make it more durable. It’s tougher, stronger, more rigid and has been designed specifically to take on the toughest of conditions.
                         </p>
                     </div>
                 </div>
             </div>
             <div class="safety-feature right" id ="safety-feature-2">
                 <div class ="line" initWidth ="100">
                     <span class="dot"></span>
                     <hr class="initial"/>
                 </div>
                 <div class ="popup right">
                     <div class ="dropdown-button-container">
                         <a href="javascript:;" class="dropdown-button">Airbags<span class="dropdown-icon"></span></a>
                     </div>
                     <div class ="info">
                         <img src="/assets/images/hilux_parallax/2_airbags.jpg" />
                         <p>
                             The all-new Hilux is kitted out with up to seven airbags*: driver, front passenger*, curtain shield*, driver knee* and front side*. <br /><small>* Available on selected models only</small>
                         </p>
                     </div>
                 </div>
             </div>
             <div class="safety-feature left" id ="safety-feature-3">
                 <div class ="line" initWidth ="100">
                     <span class="dot"></span>
                     <hr class="initial"/>
                 </div>
                 <div class ="popup open-up">
                     <div class ="dropdown-button-container">
                         <a href="javascript:;" class="dropdown-button">Features<span class="dropdown-icon"></span></a>
                     </div>
                     <div class ="info">
                         <img src="/assets/images/hilux_parallax/3_features.jpg" />
                         <p>
                             Safety features includes an Anti-Lock Braking System (ABS), ISO-FIX child restraint system*, Electronic Brake Force Distribution (EBD), Vehicle Stability Control (VSC)* and Brake Assist (BA). <br /><small>* Available on selected models only</small>
                         </p>
                     </div>
                 </div>
             </div>
             <div class="safety-feature right" id ="safety-feature-4">
                 <div class ="line" initWidth ="100">
                     <span class="dot"></span>
                     <hr class="initial"/>
                 </div>
                 <div class ="popup open-up ">
                     <div class ="dropdown-button-container">
                         <a href="javascript:;" class="dropdown-button">SECURITY<span class="dropdown-icon"></span></a>
                     </div>
                     <div class ="info">
                         <img src="/assets/images/hilux_parallax/4_security.jpg" />
                         <p>
                             Advanced technology has been incorporated on all models including auto door lock, remote control central locking and an anti-theft system with an independently powered alarm, immobiliser and ultrasonic glass breaking and movement sensor.
                         </p>
                     </div>
                 </div>
             </div>
         </div>
    </div>