.text-huge {
    line-height: 1;
}

.text-xlarge {
    line-height: 1;
}

.text-large {
    line-height: 1;
}

.text-medium {
    line-height: 1;
}

.text-small {
    line-height: 1;
}

.text-xsmall {
    line-height: 1;
}